
body {
    font-family: 'Akshar', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background: #FFCC00; /* Amarelo do Figma */
    font-family: Arial, sans-serif;
    text-align: center;
}
/* Fade-out ao trocar de página */
body.fade-out {
    opacity: 0;
    transition: opacity 0.4s ease;
}


/* Topo com logo */
.header {
    padding-top: 40px;
}

/* Animação da logo descendo */
.logo {
    width: 180px;
    animation: slideDown 1.2s ease forwards;
    opacity: 0;
    transform: translateY(-60px);
}

@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }

}
.icones-sociais {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.icone-social {
    width: 48px;
    height: 48px;
    cursor: pointer;
    transition: transform 0.25s ease;
}
.icone-social.insta {
    width: 56px;   /* Ajuste o tamanho até ficar igual ao WhatsApp */
    height: 56px;
    margin-top: -3px; /*pra subir o icone do insta*/
}

.icone-social:hover {
    transform: scale(1.15);
}

.slogan {
    margin-top: -5px;
    margin-bottom: 10px;
    font-size: 22px;     /* AUMENTA O TAMANHO */
    font-weight: 700;    /* NEGRITO */
    color: #000;
    letter-spacing: 0.5px;
}

/* Sessão SOBRE NÓS */
.sobre-nos {
    margin-top: -20px;
    padding: 20px;
}

.sobre-nos h1 {
    font-size: 28px;
    font-weight: bold;
}

.descricao {
    margin: 10px auto;
    max-width: 600px;
    font-size: 22px;
    line-height: 1.5;
}


.linha {
    width: 180px;
    height: 3px;
    background: #000;
    margin: 20px auto;
}

/* Botão branco */
.btn-servicos {
    background: white;
    border: 2px solid black;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s;
}

.btn-servicos:hover {
    background: #FB9B00; 
    color: rgb(0, 0, 0);
    transform: scale(1.05);
}
/* Animação do botão pulando */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.09); }
    100% { transform: scale(1); }
}

.btn-servicos {
    animation: pulse 1.6s infinite ease-in-out;
}


/* Locais */
.titulo-locais {
    margin-top: 30px;
    font-size: 20px;
}

.locais {
    margin-top: 10px;
    font-size: 17px;
    max-width: 700px;
    margin: auto;
}
/* Estilo das cidades */
.locais strong {
    font-weight: 700;
    display: inline-block;
    transition: transform 0.2s ease;
    cursor: default;
}

/* Animação ao passar o mouse */
.locais strong:hover {
    transform: scale(1.15);
}


.menu {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 15px;
    font-size: 18px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.2s;
}

.menu a:hover {
    color: #FB9B00;
    transform: translateY(-3px);
}
@media (max-width: 600px) {
    .menu {
        flex-direction: column;
        gap: 10px;
    }
}
.foto-redonda {
    transition: 0.3s;
}

.foto-redonda:hover {
    transform: scale(1.08);
    box-shadow: 0px 8px 18px rgba(0,0,0,0.35);
}
.voltar {
    background: #FB9B00;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px;
    transition: 0.2s;
}

.voltar:hover {
    background: #d98700;
    transform: scale(1.05);
}
h1, h2, h3 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

.btn-servicos {
    font-weight: 600;
}


